@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.App {
  padding: 10px;
  display: flex;;
  grid-gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
}